:root {
  /* 1rem = 10px */
  /* (10px * 100 ) / 16 */
  --text-size: 62.5%;

  --text-primary-color: #333;

  --selection-primary-color: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  transition: padding 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  font-size: var(--text-size);
}

body {
  overflow-x: hidden;
  color: var(--text-primary-color);
  line-height: 1.6;
  word-wrap: keep-all;
  font-size: calc(var(--text-size) + 1.5vmin);

  font-family: "Afacad Flux", sans-serif;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(145deg, #1e1f24, #141518);
  color: #fff;
}

/* body::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
} */

::selection {
  background: var(--selection-primary-color);
}

*:focus {
  outline: none;
}

/* start */

.container {
  max-width: 400px;
  width: 70%;
  margin: auto;
}

.datepicker {
  display: flex;

  background: #191a1e;
  box-shadow: 6px 6px 12px #0e0e0e, -4px -4px 10px rgba(95, 94, 94, 0.25);
  color: white;
  border-radius: 30px;
}

.datepicker input {
  flex: 1;
  border: 1px solid #000;
  border-right: none;
  padding: 1rem 2vmin;
  cursor: pointer;
  background: #191a1e;
  box-shadow: 6px 6px 12px #0e0e0e, -4px -4px 10px rgba(95, 94, 94, 0.25);
  color: white;
}

.datepicker button {
  border: 1px solid #333;
  cursor: pointer;

  background: #191a1e;
  color: #fff;
}

.datepicker button svg {
  width: 3rem;
  height: 3rem;
}

/* calendar */
.calendar {
  margin-top: 4rem;
}

.calendar header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vmin;
  padding: 3vmin;
  background: #191a1e;

  color: white;
  box-shadow: 6px 6px 12px #0e0e0e, -4px -4px 10px rgba(95, 94, 94, 0.25);
}

.calendar header svg {
  width: 2rem;
  height: 2rem;
}

.calendar header h1 {
  font-size: calc(var(--text-size) + 0.8vmin);
}

.calendar main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #191a1e;
  box-shadow: 6px 6px 12px #0e0e0e, -4px -4px 10px rgba(95, 94, 94, 0.25);
}

.calendar main > *:not(h2) {
  border-right: 1px solid #606060;
  border-bottom: 1px solid #606060;
}

.calendar main > h2 {
  border-bottom: 1px solid #606060;
  font-size: calc(var(--text-size) + 0.8vmin);
}

.calendar main > div,
.calendar main > h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2vmin;
}
